body, html {
  height: 100%;
  color: chartreuse;
}
.bg {
  /* The image used */
  background-image: url("Images/BackGround2.jpg");
  
  height: 100%;

  /* Center and scale the image nicely */
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}